<h1> Login Now</h1>

<style>
    h3{
        color : red
    }
</style>


 {% for message in messages %}
 <h3>{{message}}</h3>
 {% endfor %}


<form action ="login" method ="POST">
    {% csrf_token %}
    <p>Username: </p>
    <input type="text" name="username"/>
    <p>Password: </p>
    <input type="password" name="password" /><br>
    <input type="submit"/>
</form>
<p1>If not registered, Click down to register</p1>
<li><a class="getstarted scrollto" href="register">Register Yourself</a></li>
